.book-container {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f4f3f3f2;
}

.book-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.book-details {
    font-size: 18px;
    color: #424242;
    margin-top: 10px;
}

.book-url {
    color: rgb(79, 58, 195);
    text-decoration: none;
}

.no-books-message {
    font-size: 18px;
    color: #666;
    margin-top: 20px;
}